/* ----------Body Adjust------- */
body{
    font-family: 'Karla', sans-serif;
    width: 100%;
    height: 100%;
    background-color: hsl(60, 100%, 100%);
}

/* ------------Navigation Bar------- */
.heading{
    font-size: 25px;
    margin-left: 50px;
    color: green;
}
.menu{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    
}
.menu a{
    text-decoration: none;
    padding: 20px;
    color: black;
    font-weight: 700px;

}
.menu a:hover{
    background-color: gainsboro;
}

/* --------- Influencer First Part ----------- */
.container{
    display: flex;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 30px;
}
.products-Image img{
    width: 330px;
    background-image: url(./images/Circle\ design.svg);
    background-size: 330px;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}
.products-Image:hover img {
    transform:skew(10deg);
    transition: transform 2s ease-in-out;
}
.products-details{
    margin-right: 100px;
}
.products-details>h1{
    font-size: 40px;
    font-weight: 900;
    margin-right: 180px;
    margin-bottom: -10px;
    color: green;
}
.products-details>p{
    font-size: 20px;
}
.fas{
    width: 20px;
    margin-top: 0;
    font-size: 20px;
    color: goldenrod;
}
button{
    width: 180px;
    height: 40px;
    font-size: 15px;
    background-color: grey;
    border: none;
    border-radius: 20px;
}

/* --------Horzantal & Logo part---- */
hr{
    width: 75%;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 30px;
}

/* -------Popular Collection Part---------- */
.collection-heading{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
}
.products-collection{
    display: grid;
    margin-top: 60px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 180px;
    margin-right: 180px;
    justify-content: center;
}
.products-price-details:hover img{
    transform:skew(10deg);
    transition: transform 2s ease-in-out;
}

.products-price-details{
    border: 1px solid #f0e2e2;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 10px 10px 5px;
    justify-content: center;
    align-items: center;
    transition: 2s;
}
.arrow {
    margin-top: 20px;
    margin-bottom: 20px;
   text-align: end;
   margin-right: 180px;
}


/* --------Featured products at place part------ */
.mechanical-container{
    display: flex;
    margin-top: 50px;
    margin-left: 180px;
    margin-right: 180px;
}
.mechanical-images img{
    width: 400px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 15px;
}
.mechanical-details{
    margin-left: 80px;
}
.mechanical-details> h1{
    font-size: 30px;
    font-weight: bold;
}
.mechanical-details p{
    font-size: 16px;
    margin-right: 20px;
   white-space: normal;
}

/* -----------influencer products bottom bar----------- */
.influencer-products-container{
    border: 2px solid yellow;
    margin-top: 50px;
    background-color: brown;
    text-align: center;
    height: 180px;
}
.influencer-products-container h1{
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.influencer-products-container p{
    font-size: 15px;
    font-weight: bold;
    color: white;
}
.influencer-products-container i{
    color: white;
}
.items{
    justify-content: right;
    align-items: center;
}






/* Media---Mobile---Tab---Computer */
@media only screen and (max-width:688px) {
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding: 20px;
        margin: 0% auto;
    }
    .logo{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding: 20px;
        width: 100%;
        margin: 0% auto;
    }
    .products-collection{
        /* width: 50%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding: 20px;
        margin: 0% auto; */
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding-left: 180px;
    }
    .mechanical-container{
        width: 100%;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding: 30px;
        margin: 0% auto;
        align-items: center;
    }
}


@media only screen and (max-width: 768px) {
    .container{
        width: 100%;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        padding: 20px;
        margin: 0% auto;
    } 
    .logo{
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        padding: 20px;
        width: 100%;
        margin: 0% auto;
}
.products-collection{
    width: 100%;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    padding: 20px;
    margin: 0% auto;
}
.mechanical-container{
    width: 100%;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    padding: 30px;
    margin: 0% auto;
    align-items: center;
}
}